@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-accent: #06b6d4;
  --color-tank: #3b82f6;
  --color-dps: #ef4444;
  --color-healer: #10b981;
  --color-support: #a855f7;
  --color-surface: #1e293b;
  --color-surface-dark: #0f172a;
  --color-border: #334155;
}
